{{page-title "QuestionnairesList"}}

<CustomTitle>Страница опроса</CustomTitle>
<CustomSubtitle>{{this.questway.way}}</CustomSubtitle>
<ContentContainer>
    <p>{{this.questway.question}}</p>
    <RadioList
        @data={{this.answers}}
        @onChangeChoise={{this.onChangeChoise}}/>
    <CustomButton @action={{fn this.setAnswer}}>Выбрать</CustomButton>
</ContentContainer>
